body {
}

.movie{
    min-height: 300px;
  
    background-color: aliceblue;
    padding: 10px 0 10px 10px;
}
.title{
        
}
.title h2{
    margin: 0;
    padding: 0 0 10px 0 ;
}

.rating a {
    float: left;
}
 .poster{
    width: 200px;
    height: auto;
    float: left;    
}
.poster img{
    width: 100%;
    height: auto;
}
            

.movieinfo{
    float: right;
    padding-left: 220px;
    position: absolute;
    top:75px;
    left:10px;
 }
            
.description{
   float: left;
   padding-top: 20px;
}