body {
}

.movie{
    min-height: 300px;
  
    background-color: aliceblue;
    padding: 10px 0 10px 10px;
}

    .title{
        
    }

        .title h2{
            margin: 0;
            padding: 0 0 10px 0 ;
        }

    .body{

            
    }

        .poster{
            width: 200px;
            height: auto;
            float: left;
           
        }

            .poster img{
                width: 100%;
                height: auto;
            }

        .movieinfo{
            padding-left: 220px;
        }
            
            .description{
                float: left;
                padding-top: 20px;
            }

            .comment{

            }