body {
}

.movie{
    min-height: 300px;
    width: 400px;
    background-color: aliceblue;
    padding: 10px 0 10px 10px;
}

    .title{

    }

    .body{

            
    }

        .poster{
            width: 100px;
            height: auto;
            float: left;
            margin: 10px;
        }

            .poster img{
                width: 100%;
                height: auto;
            }

        .movieinfo{
            padding-left: 110px;
        }